body {
  font-family: "MS Verdana", "MS Arial", Helvetica, sans-serif;
  font-size: 100%;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

h1 { font-size: 150%; }
h2 { font-size: 130%; }
h3 { font-size: 120%; }
h4 { font-size: 100%; }

li,ul,ol,p,div,blockquote,td { font-size: 100%; }

td.side {
  background-color: #0087d9;
  color: #ffffff;
  font-size: 110%;
  vertical-align: text-top;
}

td.venue {
  background-color: #ffffff;
  color: #000000;
  font-size: 120%;
  text-align: center;
}

td.header {
	font-size: 140%;
	font-weight: bold;
	background-color: #0087d9;
	color: #ffffff;
}

A {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #ff00ff; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A.side {
	COLOR: #ffffff; FONT-FAMILY: sans-serif; FONT-SIZE: 100%; TEXT-DECORATION: underline
}
A.side:visited {
	COLOR: #ffffcc; FONT-FAMILY: sans-serif; FONT-SIZE: 100%; TEXT-DECORATION: underline
}
A.side:hover {
	COLOR: #ffffff; FONT-FAMILY: sans-serif; FONT-SIZE: 100%; TEXT-DECORATION: underline
}
A.sidehead {
	COLOR: #ffffff; FONT-FAMILY: sans-serif; FONT-SIZE: 110%; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.sidehead:visited {
	COLOR: #ffccff; FONT-FAMILY: sans-serif; FONT-SIZE: 110%; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.sidehead:hover {
	COLOR: #ffffff; FONT-FAMILY: sans-serif; FONT-SIZE: 110%; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}

.label {
  font-weight: bold;
}

.borderless {
  border: 0;
}

:link { color: #000099; }

.sidebar-link { font-size: 80%; }

.black-background { background-color: #000000; }

/* attempt at new styling */

#tpm-home-page {
	background: #0087d9;
}

#left-column {
	float: left;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 13em;
}

#logo {
	text-align: center;
}

.sidebar-links {
	padding-left: 1em;
	font-size: 80%;
}

#sponsor-links {
	text-align: center;
	padding-top: 2em;
	padding-bottom 2em;
}
#main {
	margin-left: 13em;
}

#banner {
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: #0087d9;
	border: 2px solid;
}

#content {
	background: #ffffff;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

#footer {
	font-size: 80%;
	text-align: center;
}
