/* * { margin: 0; padding: 0; border: 0; } */

html, body {
  font-family: "MS Verdana", "MS Arial", Helvetica, sans-serif;
  font-size: 100%;
  color: black;
  background-color: red;
	height: 100%;
	border: 0;
	margin: 0;
	padding: 0;
}

h1 { font-size: 150%; }
h2 { font-size: 130%; }
h3 { font-size: 120%; }
h4 { font-size: 100%; }

A {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #ff00ff; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A.side {
	COLOR: #ffffff; FONT-FAMILY: sans-serif; FONT-SIZE: 100%; TEXT-DECORATION: underline
}
A.side:visited {
	COLOR: #ffffcc; FONT-FAMILY: sans-serif; FONT-SIZE: 100%; TEXT-DECORATION: underline
}
A.side:hover {
	COLOR: #ffffff; FONT-FAMILY: sans-serif; FONT-SIZE: 100%; TEXT-DECORATION: underline
}
A.sidehead {
	COLOR: #ffffff; FONT-FAMILY: sans-serif; FONT-SIZE: 110%; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.sidehead:visited {
	COLOR: #ffccff; FONT-FAMILY: sans-serif; FONT-SIZE: 110%; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.sidehead:hover {
	COLOR: #ffffff; FONT-FAMILY: sans-serif; FONT-SIZE: 110%; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}

.label {
  font-weight: bold;
}

.borderless {
  border: 0;
}

:link { color: #000099; }

.sidebar-link { font-size: 80%; }

.black-background { background-color: #000000; }

/* attempt at new styling */

#container {
	margin: 0;
	border: 0;
	padding: 0;
	background: #0087d9;
}

#left-column {
	float: left;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 13em;
	margin: 0;
	border: 0;
}

#logo {
	text-align: center;
}

#navigation {
	padding-top: 1em;
	padding-left: 1em;
	font-size: 110%;
	font-weight: bold;
	color: white;
}

.black-on-black {
	color: black;
	background: black;
}

.sidebar-links {
	padding-left: 1em;
	font-size: 80%;
	font-weight: normal;
}

#oreilly {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

#right-column {
	margin-left: 13em;
	background: white;
}

#page-heading {
	font-size: 150%;
	font-weight: bold;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	color: white;
	background: #0087d9;
	border: 2px solid black;
	/* having a top margin causes the blue colour from the left hand
	 * nav bar to spill over the top :-(  This is my first cut at cleaning
	 * up the mess
	 */
	margin: 0px 4px 4px 4px;
}

#page-content {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

#page-footer {
	font-size: 80%;
}
